<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos em Tempo Real</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Lista de Produtos (Tempo Real)</h1>
  <ul id="productList">
    {{#each products}}
      <li>{{this.title}} - {{this.price}} - {{this.category}} <button onclick="deleteProduct('{{this.id}}')">Excluir</button></li>
    {{/each}}
  </ul>

  <h2>Adicionar Novo Produto</h2>
  <form id="productForm">
    <input type="text" id="title" placeholder="Título" required>
    <input type="text" id="description" placeholder="Descrição" required>
    <input type="number" id="price" placeholder="Preço" required>
    <input type="text" id="code" placeholder="Código" required>
    <input type="number" id="stock" placeholder="Estoque" required>
    <input type="text" id="category" placeholder="Categoria" required>
    <input type="text" id="thumbnails" placeholder="Thumbnails (opcional)">
    <button type="submit">Adicionar Produto</button>
  </form>

  <script>
    const socket = io();

    const productForm = document.getElementById('productForm');
    const productList = document.getElementById('productList');

    productForm.addEventListener('submit', (e) => {
      e.preventDefault();
      const productData = {
        title: document.getElementById('title').value,
        description: document.getElementById('description').value,
        price: document.getElementById('price').value,
        code: document.getElementById('code').value,
        stock: document.getElementById('stock').value,
        category: document.getElementById('category').value,
        thumbnails: document.getElementById('thumbnails').value ? [document.getElementById('thumbnails').value] : []
      };

      // Verifica se algum campo obrigatório está vazio
      if (!productData.title || !productData.description || !productData.price || !productData.code || !productData.stock || !productData.category) {
        alert("Todos os campos obrigatórios devem ser preenchidos.");
        return;
      }

      socket.emit('addProduct', productData);
      productForm.reset();
    });

    socket.on('updateProducts', (products) => {
      productList.innerHTML = '';
      products.forEach(product => {
        const li = document.createElement('li');
        li.innerHTML = `${product.title} - ${product.price} - ${product.category} <button onclick="deleteProduct('${product.id}')">Excluir</button>`;
        productList.appendChild(li);
      });
    });

    function deleteProduct(id) {
      socket.emit('deleteProduct', id);
    }
  </script>
</body>
</html>
